<p id="notice"><%= notice %></p>
<%= gravatar_for @user %>
<p>
  <strong><%= t ".name" %></strong>
  <%= @user.name %>
</p>
<p>
  <strong><%= t ".email" %></strong>
  <%= @user.email %>
</p>
<%= link_to t(".edit"), edit_user_path(@user) %> |
<%= link_to t(".back"), users_path %>
<%= render 'follow_form' if logged_in? %>
<div class="col-md-8">
  <% if @user.posts.any? %>
    <h3><%= t ".post" %> (<%= @user.posts.count %>)</h3>
    <ol>
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
  <% end %>
</div>
