<%= form_for(@post, html: { multipart: true }) do |f| %>
  <div class="field">
    <%= f.label :caption %><br>
    <%= f.text_field :caption %>
  </div>
  <div class="field">
    <%= f.label :tag %><br>
    <%= f.text_field :tag %>
  </div>
  <div>
    <%= select "post", "album_id", current_user.albums.collect { |a| [a.name, a.id] } %>
  </div>
  <%= f.fields_for :post_attachments do |p| %>
    <div class="field">
      <%= p.label :images %><br>
      <%= p.file_field :avatar, multiple: true, name: "post_attachments[avatar][]" %>
    </div>
  <% end %>
  <div class="actions">
     <%= f.submit %>
  </div>
<% end %>
