<h1><%= t ".title" %></h1>
<%= form_for(@post, html: { multipart: true }) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :caption %>
  </div>
  <div class="actions">
     <%= f.submit %>
  </div>
<% end %>
<%= link_to t(".show"), @post %> |
<%= link_to t(".back"), posts_path %>
