<div class="footer">
  <div class="footer-top">
    <div class="col-md-4 footer-grid">
       <h4><%= t "layouts._footer.nameapp" %></h4>
          <ul class="bottom">
       <li><%= t "layouts._footer.tit1" %></li>
       <li><%= t "layouts._footer.tit2" %></li>
     </ul>
    </div>
    <div class="col-md-4 footer-grid">
       <h4><%= t "layouts._footer.mess" %></h4>
            <ul class="bottom">
         <li><i class="glyphicon glyphicon-home"></i><%= t "layouts._footer.avai" %></li>
       <li><i class="glyphicon glyphicon-envelope"></i><a href="mailto:info@example.com"><%= t "layouts._footer.mail" %></a></li>
       </ul>
    </div>
    <div class="col-md-4 footer-grid">
         <h4><%= t "layouts._footer.h4" %></h4>
             <ul class="bottom">
           <li><i class="glyphicon glyphicon-map-marker"></i><%= t "layouts._footer.add" %></li>
           <li><i class="glyphicon glyphicon-earphone"></i><%= t "layouts._footer.phone" %></li>
         </ul>
      </div>
    <div class="clearfix"> </div>
  </div>
</div>
<div class="copy">
<p><%= t "layouts._footer.p" %><a href="http://w3layouts.com/"><%= t "layouts._footer.a" %></a> </p>
</div>
