<div class="h-top" id="home">
   <div class="top-header">
      <ul class="cl-effect-16 top-nag">
        <li><%= link_to t("layouts._header.signup"), signup_path %></li>
        <li><%= link_to t("layouts._header.login"), login_path %></li>
        <li><%= link_to t("layouts._header.home"), root_path %></li>
        <li><%= link_to t("layouts._header.about"), about_path %></li>
        <li><%= link_to t("layouts._header.contact"), contact_path %></li>
      </ul>
      <div class="search-box">
          <div class="b-search">
            <form>
                <input type="text" value="Search" onfocus="this.value = "";" onblur="if (this.value == "") {this.value = "Search";}">
                <input type="submit" value="">
            </form>
          </div>
        </div>

      <div class="clearfix"></div>
    </div>
   </div>
